* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}
/* utility */
.bg_lightblue {
  background: #f4f9fd;
}
.bg_pink {
  background: #fff4ef;
}
.color_darkblue {
  color:	#33475b;
}
.bg_orange {
  background: #fe775a;
}
.bg_bluesky {
  background: #afebe4;
}
.bg_turquoise {
  background: #00aeb3;
}
.bg_lightblack {
  background: #32495b;
}
.container {
  width: 80%;
  margin: auto;
}
/* /utility */
/* site */
#site_header {
  height: 500px;
}
#site_content {
  height: 1000px;
}
#site_footer {
  height: 150px;
}
/* /site */
/* nav top */
.nav_top {
  height: 80px;
  font-size: 15px;
  line-height: 80px;
  text-transform: capitalize;
}
.nav_top::after {
  content: "";
  display: table;
  clear: both;
}
/* menu left */
.menu_left, .menu_right {
  float: left;
}
.menu_left a {
  color:	#33475b;
  text-decoration: none;
}
.menu_left a{
  padding: 2px;
}
.menu_left {
  width: 60%;
}
/* /menu left */
/* menu right */
.menu_right {
  width: 40%;
  text-align: right;
}
.menu_right i, .menu_right a {
  margin: 10px;
}
.menu_right i {
  color: #00aeb3;
}
.btn_sm {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #fe775a;
  text-decoration: none;
}
.text_orange {
  color: #fe775a;
}
.text_white {
  color: white;
}
/* /menu right */
/* /nav top */
